<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

    <div class="container" style="text-align: center;">
        Welcome To Quick Quiz......
        <form method="POST">
            <div >
            <button class="btns" type="submit" value="Start Quiz">Start Quiz</button>
            <button class="btns" type="button" value="Add Questions" onclick="window.location.href = '{{ url_for('add_que') }}'; ">Add Questions</button>
            </div>
        </form>

    </div>


</body>
</html>